[submodule "theme/bio1ixir-blog-theme"]
	path = theme/bio1ixir-blog-theme
	url = https://github.com/bio1ixir/bio1ixir-blog-theme.git
[submodule "themes/bio1ixir-blog-theme"]
	path = themes/bio1ixir-blog-theme
	url = https://github.com/bio1ixir/bio1ixir-blog-theme.git
