@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
*, html, body {
    box-sizing: border-box;
}
html {
    background: #ad5389; 
    background: -webkit-linear-gradient(to top, #3c1053, #ad5389);  
    background: linear-gradient(to top, #3c1053, #ad5389);
    min-height: 100%;
}



body .container {
    position: relative;
    z-index: 1;
    width: 85rem;
    margin:7rem auto 0;
    padding:1.4rem 1.5rem;
    border:1px solid #ccc;
    background-color: white;
    border-radius: 1.6rem;
    box-shadow: 0 0 3rem #181617; 
}

.main-logo:hover {
    -webkit-filter: drop-shadow(0.7rem 1.25rem 0.3rem #ad5389);
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}



.main-logo {
    float: left;
    width: 37.5rem;
    height: auto;
    padding: 0 0.62rem 0 0.62rem;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.compact-logo {
    display: none;
    width: 225px;
    height: auto;
    padding: 0 0 30px 0;
}

.pool {
text-align: center;
    padding: 100px 0 10px 110px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
}


html body .container .pool p {
    font-size: 1.6rem;
    font-family: 'Muli', serif;
    line-height: 3rem;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.nav-s {
    display: none;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: none;
    background: #cb3066;
    background: -webkit-linear-gradient(to left, #ad5389, #cb3066);  
    background: linear-gradient(to left, #ad5389, #cb3066);      
    border-radius: 15px;
    box-shadow: 1px 1px 4px 0px #181617;
}


.nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;    
    grid-template-rows: auto auto;
    grid-template-areas: '. area .''. area .';
}


.nav-left {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: none;
    background: #cb3066;
    background: -webkit-linear-gradient(to right, #ad5389, #cb3066);  
    background: linear-gradient(to right, #ad5389, #cb3066);    
    border-radius: 15px;
    box-shadow: 2px 4px 4px 0px #181617;
}

.nav-right {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    border: none;
    background: #cb3066;
    background: -webkit-linear-gradient(to left, #ad5389, #cb3066);  
    background: linear-gradient(to left, #ad5389, #cb3066);      
    border-radius: 15px;
    box-shadow: 2px 4px 4px 0px #181617;
}

.nav-center {
    display: grid;
    grid-area: area;
    font-size: 4.5rem;
}



.nav .nav-left a, .nav-right a {
    color: white;
    text-decoration: none;
    font-family: 'Cinzel', serif;
    font-weight: 500;
    font-size: 1.5rem;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav .nav-left a:hover, .nav-right a:hover {
    color: black;
    border: none;
    background: #f857a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-weight: 550;      
    padding: 9px;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.el1 {
    grid-row: row ;
    align-content: left;
    text-align: left;
}
.el2 {
    grid-row: row ;
    align-content: left;
}
.el3 {
    grid-row: row ;
    align-content: left;
}
.el4 {
    padding: 0px;
    text-align: center;
    font-family: 'Rock Salt', cursive;
    position: -webkit-sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

.button {
    background-color: white;
    opacity: 2;
    border: none;
    color: rgb(102, 102, 102);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; 
    border-radius: 30px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button:hover {
    text-shadow: 5px 5px 5px #ad5389;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


.el5 {
    grid-row: row;
    align-content: center;
}

.el6 {
    grid-row: row ;
    align-content: center;
}


.el7 {
    grid-row: row ;
    align-content: center;
}

.pseudo-padding {
    padding: 60px;
}

body .team {
    width: 85rem;
    margin: -1rem auto 100px auto;
    z-index: -1;
    padding:3rem 30px;
    border:1px solid #ccc;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 0px 25px #181617;
}


footer p {
    text-align: center;
    color: #ccc;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 0 0rem 0;
    font-size: 0.5rem;
}

footer .footer-text {
    text-align: center;
    color: #ccc;
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0 0 0rem 0;
    font-size: 93%;
    line-height: 0.1rem;
}

footer .tag {
    display: block;
    font-size: 1.3rem;
    font-family: 'Noto Sans KR', sans-serif;
    color: rgba(197, 144, 221, 0.815);
    text-decoration: none;
    font-weight: 500;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
    text-align: center;
    position: relative;  
    padding: 1rem 0 0 0;
}

footer .tag:hover {
    color: #db8abb;
    border: none;
    font-size: 1.5rem;      
    padding: 0.8rem 0 0.5rem 0;
    border-radius: 20px;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

