@media only screen and (max-width:776px) {
    body .container {
        width: 90%;
    }

    .main-logo {
        width: 40vw;
        padding: 0 0rem 0rem 0;
    }

    html body .container .pool h1, h2 {
        text-align: right;
        padding: 0 0rem 0rem 0;
    }
    
    html body .container .pool p {
        font-size: 1.2rem;
        padding: 0 5rem 0 0;
        font-family: 'Muli', serif;
        line-height: 2.3rem;
        text-align: center;
    }
    
    html body .container .pool #wrap-edge p {
        font-size: 1.4rem;
        padding: 0 3rem 0 0;
        font-family: 'Muli', serif;
        line-height: 3.2rem;
        text-align: right;
    }

    .nav {
        padding: 0 0 0 0px;
    }

    .overlay {
        
    }
    .nav-s {
        
    }

    .nav-left {
        display: none;
    }


    .nav-right {
        display: none;
    }

    .nav-center {
        display: grid;
        grid-area: area;
        font-size: 3rem;
    }



    .el1 {
        display: none;
    }
    .el2 {
        display: none;
    }
    .el3 {
        display: none;
    }
    .el4 {
        padding: 0px;
        text-align: center;
        font-family: 'Rock Salt', cursive;
        position: -webkit-sticky;
        display: flex;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
    }


    .el5 {
        display: none;
    }

    .el6 {
        display: none;
    }


    .el7 {
        display: none;
    }

    .pseudo-padding {
        padding: 0px;
    }

    body .team {
        width: 95%;
        margin: -1rem auto 100px auto;
        z-index: -1;
        padding:3rem 30px;
        border:1px solid #ccc;
        background-color: white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px 0px 25px #181617;
    }

}



