@media only screen and (max-width:754px) {
    body .container {
        width: 100%;
        padding:5% 0 0 0rem;
        margin:20% auto 0;
   
    }

    .main-logo {
        display: none;
    }

    .compact-logo {
        display: inline-block;
        padding: 0px 0px 0px 55px;
    }

    .pool {
        padding: 100px 0 50px 10px;
    }

    html body .container .pool h1 {
        font-family: 'Playfair Display', serif;
        font-size: 2.2rem;
        text-align: center;
        padding: 0 0rem 0rem 0rem;
        line-height: 95%;
    }


    html body .container .pool p {
        font-size: 1.2rem;
        padding: 0.6rem 0rem 0rem 0px;
        font-family: 'Muli', serif;
        line-height: 2rem;
        text-align: center;
    }
    
    html body .container .pool #wrap-edge p {
        font-size: 1.4rem;
        padding: 0.5rem 0rem 0.5rem 0;
        font-family: 'Muli', serif;
        line-height: 3.2rem;
        text-align: center;
    }

    .nav {
        padding: 0 0 0 0px;
    }

    .overlay {
        
    }
    .nav-s {
        
    }

    .nav-left {
        display: none;
    }


    .nav-right {
        display: none;
    }

    .nav-center {
        display: grid;
        grid-area: area;
        font-size: 3rem;
    }

    .el4 {
        text-align: center;
        font-family: 'Rock Salt', cursive;
        position: -webkit-sticky;
        justify-content: center;
        align-items: center;
        position: sticky;
        top: 0;
    }

    .pseudo-padding {
        padding: 0 0 0 0;
    }

    body .team {
        width: 95%;
        margin: -1rem auto 100px auto;
        z-index: -1;
        padding:3rem 30px;
        border:1px solid #ccc;
        background-color: white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0px 0px 25px #181617;
    }

}



